---
import TechIcon from './TechIcon.astro';
import { resolveTechBadgeColor, shouldUseWhiteBadgeIcon } from '../../utils/tech-icons';

interface Props {
  name: string;
}

const { name } = Astro.props;
const colors = resolveTechBadgeColor(name);
const badgeLabel = name.toUpperCase();
const useWhiteIcon = shouldUseWhiteBadgeIcon(name);
---

<span
  class="inline-flex items-center h-8 pr-3 text-[11px] font-bold tracking-[0.16em] uppercase border border-black/10"
  style={`background-color:${colors.bg};color:${colors.fg};`}
>
  <span class="inline-flex items-center justify-center w-8 h-8 mr-2">
    <TechIcon name={name} size={15} className="shrink-0" forceWhite={useWhiteIcon} />
  </span>
  <span>{badgeLabel}</span>
</span>
